.Parent {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.detailsForm {
  border: 3px solid red;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
  width: 20vw;
  margin: auto;
}
#erm {
  color: red;
  font-weight: 900;
}
